@tailwind base;
@tailwind components;
@tailwind utilities;

.secondary-colors {
  --home-secondary: #6a7fdb;
  --blog-secondary: #f4d35e;
  --showcase-secondary: #638863;
  --contact-secondary: #c96749;
}

.home-colors {
  --cus-primary: #913175;
  --cus-secondary: #6a7fdb;
  --cus-accent: #d7bcc9;
  --cus-background: #20262e;
}

.showcase-colors {
  --cus-primary: #913175;
  --cus-secondary: #638863;
  --cus-accent: #d7bcc9;
  --cus-background: #20262e;
}

/* --cus-secondary: #ff4242; */
