@tailwind base;
@tailwind components;
@tailwind utilities;

.home-colors {
  --cus-primary: #ff6969;
  --cus-secondary: #0c1844;
  --cus-accent: #fff5e1;
  --cus-background: #fff5e1;
}

.showcase-colors {
  --cus-primary: #913175;
  --cus-secondary: #d7bcc9;
  --cus-accent: #638863;
  --cus-background: #20262e;
}
